.welcome-card ion-img {
  max-height: 50vh;
  overflow: hidden;
}

ion-toolbar {
  --background: linear-gradient(to right, rgb(18, 65, 165), rgb(55, 108, 206));
  color: white
}

.buscador-conteudo {
  --background: white;
  width: 100vw;
  border-radius: 10px;
  text-align: left;
}

.buscador-conteudo ion-icon {
  font-size: 2rem;
}